

prod:
  .settings:
    no_script_name:         false
    logging_enabled:        false
    web_debug:              false

dev:
  .settings:
    error_reporting:        <?php echo (E_ALL | E_STRICT)."\n" ?>
    web_debug:              true
    cache:                  false
    no_script_name:         false
    etag:                   false

test:
  .settings:
    error_reporting:        <?php echo ((E_ALL | E_STRICT) ^ E_NOTICE)."\n" ?>
    cache:                  false
    web_debug:              false
    no_script_name:         false
    etag:                   false

all:
  .settings:   
    survey_encryption_key: 7>Z]hM6D+OpKvr*kdHf$G2!q7rqiDh   
    # Form security secret (CSRF protection)
    csrf_secret:            ry437V7vx9

    # Output escaping settings
    escaping_strategy:      true
    escaping_method:        ESC_SPECIALCHARS

    # Enable the database manager
    use_database:           true
    
    enabled_modules: [default, sfGuardAuth, sfGuardUser, sfGuardGroup, sfGuardPermission]
  .actions:
      login_module:    sfGuardAuth
      login_action:    signin

      secure_module:          sfGuardAuth
      secure_action:          secure
    
