<div>
   <label>Address of the Property Sold</label>
   <div class="content">
		<input type="text" />
   </div>
</div>

<div>
   <label>Date of Sale (As Per Sale Deed)</label>
   <div class="content">
		<input type="text" />
   </div>
</div>

<div>
   <label>Sale Value (Amount as per Sale Deed)</label>
   <div class="content">
		<input type="text" />
   </div>
</div>

Please enter the details of expenses incurred:

<div>
   <label>Paid to Broker</label>
   <div class="content">
		<input type="text" />
   </div>
</div>

<div>
   <label>Other Expenses  [List of Allowed Expenses] </label>
   <div class="content">
		<input type="text" />
   </div>
</div>

