.jms-slideshow {
	width: 70%; 
	 height: 250px !important;
}
.jms-wrapper {	
	height: 269px !important; margin-top:0px; margin-left:25px;  	
	
}
.step img{ top:43px !important; width:35%; left: 62px;
}
 
.step{
	width: 850px; margin-left: 50px; margin-top:50px; 
}
/*.jms-slideshow, 
.step{
	width: 1050px;
}*/
.jms-content{
	margin: 0px 30px 0px 360px !important;
}

.jms-content1{
	margin: 0px 20px 0px 10px !important; 
	
}
.step h3{
	padding: 40px 0 10px 0;
}
.jms-content1 img { width:auto !important; top:80px !important;}
.step h4 {
	
	
 padding:4px 0 0 0 !important; font-size: 48px;
 margin-left:100px;	
}

.step p { padding-top:13px !important;


}
.jms-arrows span.jms-arrows-prev{
	
	 margin-top:-18px ;
}
.jms-arrows span.jms-arrows-next{
	
	right: -2px; margin-top:-18px ; 
}

header { max-height: 450px; }
.demo {margin-top:140px;}
.newin_funds ul li:last-child {border-right: expression(this.nextSibling==null?'none':'inherit');}
.row-fluid .span4-color1, .row-fluid .span4-color2, .row-fluid .span4{ border-top:1px solid #c2c2c2;}
#contact_box{ position: absolute; z-index:99999; background-color:#000; width:260px; height:30px; top:0; right:0; vertical-align:middle; line-height:30px; text-align:center; color:#ffffff;}